extends ../layout

block content
  div#page-wrapper
    .main-page
      .grids
        .progressbar-heading.grids-heading
          h2 New User
        include ../partials/flash
        .panel.panel-widget.forms-panel
          form(method="post").form-horizontal  
            .form
              div(class="form-grids widget-shadow" data-example-id="basic-forms")
                .form-title
                  h4 Add List Users
                .form-body
                  .form-group
                    .btn.btn-default.btn-file
                      i.fa.fa-paperclip
                      span File Excel
                      input(class="form-control1" type="file" name="level" id="level" placeholder="Address")
                    p.help-block Max. 32MB
                  .col-sm-offset-2
                    button(type="submit" class="btn btn-danger") Add New
            .form
              div(data-example-id="basic-forms")
                .form-title
                  h4 Kết Quả
                for resource in arrResource 
                  .panel.panel-widget
                  .inbox-page
                    input(style="float: left; margin:7px; margin-left: 15px; margin-right: 20px" value= resource name="resource_ids" type="checkbox" class="checkbox" required="")
                    h4(style="float: left; color: #fd5c63 !important;")= resource
                    .clearfix
                    for scope in arrScope[resource]
                      div(class="inbox-row widget-shadow" id="accordion" role="tablist" aria-multiselectable="true")
                        .mail
                          input(type="checkbox" value= scope.scope name= "scope" class="checkbox")
                        .mail.mail-name
                          h6= scope.scope
                        .mail
                          p= scope.name
                        .clearfix