extends layout

block content
  div#page-wrapper
    .main-page
      .grids
        .progressbar-heading.grids-heading
          h2 Users
        .panel.panel-widget
          .tables
            table.table.table-bordered
              thead
                tr.info
                  th Username
                  th Info
                  th Resource
                  th Scope
                  th Phone
                  th Action
                tr
                  td Kanet
                  td Nguyễn Thụy Thanh Thư
                  td Resource A
                  td camp,post_lead,leader,camp_post,read,delete
                  td 0909091709
                  td Edit
                tr
                  td Kanet
                  td Nguyễn Thụy Thanh Thư
                  td Resource A
                  td camp,post_lead,leader,camp_post,read,delete
                  td 0909091709
                  td Edit
                tr
                  td Kanet
                  td Nguyễn Thụy Thanh Thư
                  td Resource A
                  td camp,post_lead,leader,camp_post,read,delete
                  td 0909091709
                  td Edit
                tr
                  td Kanet
                  td Nguyễn Thụy Thanh Thư
                  td Resource A
                  td camp,post_lead,leader,camp_post,read,delete
                  td 0909091709
                  td Edit
                tr
                  td Kanet
                  td Nguyễn Thụy Thanh Thư
                  td Resource A
                  td camp,post_lead,leader,camp_post,read,delete
                  td 0909091709
                  td Edit
                tr
                  td Kanet
                  td Nguyễn Thụy Thanh Thư
                  td Resource A
                  td camp,post_lead,leader,camp_post,read,delete
                  td 0909091709
                  td Edit
                tr
                  td Kanet
                  td Nguyễn Thụy Thanh Thư
                  td Resource A
                  td camp,post_lead,leader,camp_post,read,delete
                  td 0909091709
                  td Edit
          div
            
